header {
    /* border : 1px gray solid; */
    padding : 5px;
    position :fixed;
    top: 0;
    left: 0;
    
    width : 100%;
    /* background-color: rgb(39, 173, 95); */
    display: flex;
    z-index: 2;
}
header .page-logo {
    border-radius: 1px;
    width : 80px;
    height : 30px;
    cursor: pointer;
}

img:hover {
    border : 1px gray solid;
    cursor: pointer;
   
}
header .logo img {
    border-radius: 1px;
    width : 80px;
    height : 30px;
}
header .header-right{
    /* background-color: red; */
    position : fixed;
    right: 10px;
   
}
header .header-right button {
    margin-top: -10px;
    background: #a8a1a194;
    margin-right : 10px;
    /* border : 1px gray solid; */
    /* border-radius: 10px; */
    padding : 5px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
}

header .header-right:first-child button:hover{margin-top: 10px;}