header {
    
    /* border : 1px gray solid; */
    padding : 5px;
    position :fixed;
    
    width : 100%;
    /* background-color: rgb(39, 173, 95); */
    display: flex;
    z-index: 2;
}
header .page-logo {
    border-radius: 1px;
    width : 80px;
    height : 30px;
    cursor: pointer;
}

img:hover {
    border : 1px gray solid;
    cursor: pointer;
   
}
header .logo img {
    border-radius: 1px;
    width : 80px;
    height : 30px;
}
header .header-right{
    /* background-color: red; */
    position : fixed;
    right: 10px;
   
}
header .header-right button {
    margin-right : 10px;
    border : 1px gray solid;
    border-radius: 10px;
    padding : 5px;
}