*{
    /* border:1px grid solid !important; */
}

  
.homeLogined-page {
    /* background : url('https://user-images.githubusercontent.com/75051059/141219381-c64490bf-907d-4929-8b1b-ad7891604a58.png'); */
    background-color: aquamarine;
    position : relative;
    top:50px;
    height : 100vh;
    margin-left: 100px;
    /* left:100px; */
    /* top : 150px; */
}
/* 버튼 호버 */

button:hover {
    
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}


.homeLogined-body {
    display : flex;
    flex-direction: row;
}

.homeLogined-room-list {
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* !주석해제하면 방들 세로정렬됨 - 반응형*/
    /* display: flex; */
    /* flex-direction: column; */
    
}

.homeLogined-room-list .homeLogined-room-location {
    padding : 30px ;
    font-size: larger;
    text-align: center;
    /* background-color: aqua; */
    width : 600px;
    height : 100px;
    margin-left: auto;
    margin-right: auto;
}
