/* * {
    box-sizing: border-box;
    text-decoration: none;
    /* border : 1px gray solid; */
    
  /* }  */

  
.page {
    /* background : url('https://user-images.githubusercontent.com/75051059/141219381-c64490bf-907d-4929-8b1b-ad7891604a58.png'); */
    position : relative;
    height : 100vh;
    /* background-color: aquamarine; */
    margin-left: 100px;
}
/* 버튼 호버 */

button:hover {
    
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}


.body {
    display : flex;
    flex-direction: row;
}
header {
    padding : 10px;
    position :fixed;
    width : 100%;
    /* background-color: rgb(39, 173, 95); */
    display: flex;
    z-index: 2;
}
header .page-logo {
    border-radius: 1px;
    width : 80px;
    height : 30px;
}
header .logo img {
    border-radius: 1px;
    width : 80px;
    height : 30px;
}
header .header-right{
    /* background-color: red; */
    position : fixed;
    right: 10px;
}

button:hover {
    /* background-color: blanchedalmond; */
}

.room-list {
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}

.room-list .room-location {
    font-size: larger;
    text-align: center;
}

.room-list .room {
    margin: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    /* background-color: rgb(188, 255, 80); */
    border : 1px gray solid;
    padding : 10px;
    width : 400px;
}

