.is-sign-up-background{position: fixed; top: 0; left: 0; background: #000000; opacity: .7; width: 100%; height: 100vh; z-index: 1000;}
.is-sign-up-container{position: fixed; top: 45%; left: 50%; z-index: 1001; transform: translate(-50%, -50%); width: 550px; background: #fff; padding: 20px 80px; box-sizing: border-box}
.is-sign-up-container>p{}
.is-sign-up-container .is-sign-up_close_btn{margin-right: 15px; width: 30px; display: block; position: relative; top: 10%; left: calc(100% - 23px); width: 23px; height: 23px;}
.is-sign-up-container .is-sign-up_close_btn:hover{background: none;}
.is-sign-up-container .is-sign-up_close_btn > span{display: inline-block;}
.is-sign-up-container .is-sign-up_close_btn > span > i{  display: inline-block; width: 23px; height: 1px; background: #000; margin-bottom: 10px; position: absolute; top: 10px; left: 0;}
.is-sign-up-container .is-sign-up_close_btn > span > i:first-child{transform: rotate(45deg);}
.is-sign-up-container .is-sign-up_close_btn > span > i:last-child{transform: rotate(-45deg);}