.sidebar {
    z-index: 9;
    /* border : 1px gray solid; */
    display: flex;
    flex-direction: column;
    width: 100px;
    position: fixed;
    left: 0;
    /* top: 30px; */
    padding-left : 7px;
    top: 50px;
    /* background-color: lightblue; */
    height : 200vh;

}
.sidebar button {
    background: #a8a1a194;
    width : 100px;
    height : 40px;
    margin-left: -20px;
    margin-right: auto;
    margin-top : 10px;
    border :1px solid gray;
    cursor: pointer;
    transition: margin .3s;
}
.sidebar button:hover {
    margin-left: -10px;
    cursor: pointer;
    background-color: #a8a1a194
}
