.userlist-page {
    background: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top : 70px;
    height: 100px;
    width: 600px;
    /* padding: 10px; */
    font-size: large;
    border: 1px gray solid;
}
.userlist-page .userlist-profile {
    
    width:100px;
    height:70px;
    object-fit: cover;
    margin: auto;
    
}
.userlist-page img {
    
    border-radius:70%;
    width: 100px;
    height: 100%;
    margin: auto;
    
}

.userlist-page .userlist-username {
    /* margin-left : auto; */
    /* margin-right:auto; */
    margin: auto;
    
} 

.userlist-page .userlist-blog {
    /* margin-left : auto; */
    /* margin-right:auto; */
    margin: auto;
    
} 

 